$bodyBackground: #fff;
$bgImg: url("../img/m-h-day.jpg");
$textColor: #2c2f3c;
$buttonColor: #699900;
$background: #3b3f50;
$highlightColor: #14a0c7;
$mainColor: #91a0af;
$gradient: linear-gradient(
  to right,
  #629218,
  #00945d,
  #008eab,
  #007ee1,
  #2c5ada
);
$sectionHeader: #000;
