$bodyBackground: #21232e;
$bgImg: url("../img/m-h-night.jpg");
$textColor: #fff;
$buttonColor: #e3ac00;
$background: #3b3f50;
$highlightColor: #ff4e33;
$mainColor: #91a0af;
$gradient: linear-gradient(
  to right,
  #da9e09,
  #da7a27,
  #cc593b,
  #b43f49,
  #932e51
);
$sectionHeader: #fff;
